<h3>Pedido de BEE Shop enviado</h3> <p>
	Este correo es para hacerle sabe que hemos enviado su pedido reciente

</p>
<table>
<tr><th colspan="2">Cantidad</th><th>Descripci—n</th></tr>
<%= render @order.line_items -%>
</table>