<div class="col-md-6">
	<div class="panel panel-success">
	  <div class="panel-heading">
	    <h3 class="panel-title">Por favor ayudanos con tus datos</h3>
	  </div>
	  <div class="panel-body">
		  <%= render 'form' %>
	  </div>
	</div>
</div>

